.page-container {
    opacity: 1;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-content {
    display: flex;
    width: 900px;
    padding: 0;
    border-radius: 8px;
    background-color: var(--color-white);
    min-height: 400px;
    max-width: 100%;
}

.cart-content .cart-content-image-container {
    width: 80px;
}

.cart-content table {
    width: 100%;
    border-spacing: 0;
}

.cart-content table tr td {
    padding: 30px 15px;
}

.cart-content table tbody tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--color-grey-DDD);
}

.cart-content img {
    width: 80px;
    max-width: 80px;
    max-height: 80px;
}

.cart-content p {
    color: var(--color-grey-666);
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
}

.cart-content h4 {
    color: var(--color-blue);
    font-size: 18px;
    text-align: left;
}

.cart-content h3 {
    color: var(--color-green);
    font-size: 24px;
    text-align: right;
}

.cart-content .product-quantity-container button i {
    font-size: 22px;
}

.cart-content .product-quantity-container input {
    font-size: 18px;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 30px 15px;
    border-radius: 8px;
    background-color: var(--color-white);
}

.cart-summary h1 {
    color: var(--color-blue);
    font-size: 24px;
    font-weight: var(--bold);
    margin-bottom: 30px;
    text-align: center;
}

.cart-summary h2 {
    color: var(--color-green);
    font-size: 24px;
    font-weight: var(--bold);
    text-align: center;
}

.cart-summary h3 {
    color: var(--color-grey-70);
    font-size: 16px;
    font-weight: var(--regular);
    text-align: center;
}

.cart-summary button {
    color: var(--color-white);
    font-size: 20px;
    font-weight: var(--bold);
    border: 0;
    background-color: var(--color-green);
    border-radius: 8px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
    cursor: pointer;
}

.cart-summary button:disabled {
    background-color: var(--color-grey-DDD);
    color: var(--color-grey-999);
    pointer-events: none;
}

@media (max-width: 1024px)  {
    .cart-content {
        width: 700px;
        margin-right: 20px;
    }
}

@media (min-width: 769px)  {
    .cart-content .cart-content-quantity-price h3 {
        display: none;
    }
    .cart-content .product-quantity-container button,
    .cart-content .product-quantity-container input {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px)  {
    .cart-content {
        width: 500px;
        margin-right: 15px;
    }
    .cart-content .cart-content-price {
        display: none;
    }
    .cart-content .product-quantity-container {
        justify-content: flex-end;
        margin-top: 10px;
    }
    .cart-content p {
        font-size: 14px;
    }
    .cart-summary {
        width: 226px;
    }
    .cart-summary h1,
    .cart-summary h2 {
        font-size: 20px;
    }
    .cart-summary h3 {
        font-size: 14px;
    }
    .cart-summary button {
        font-size: 16px;
    }
}

@media (min-width: 426px)  {
    
}

@media (max-width: 425px)  {
    .page-container {
        background-color: var(--color-white);
        padding: 15px 0;
        padding-bottom: 100px;
    }
    .cart-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .cart-content {
        border-radius: 0;
    }
    .cart-summary {
        border-radius: 0;
    }
    .cart-summary button {
        display: none;
    }
    .cart-summary h1 {
        margin-bottom: 15px;
    }
    .cart-content h3 {
        font-size: 20px;
    }
    .footer-cart.cart-confirm-button {
        background-color: var(--color-green);
        z-index: 999;
    }
    .footer-cart.cart-confirm-button .cart-icon span {
        background-color: var(--color-white);
        color: var(--color-green);
    }
    .footer-cart.cart-confirm-button.disabled {
        background-color: var(--color-grey-DDD);
        pointer-events: none;
    }
    .footer-cart.cart-confirm-button.disabled .footer-cart-item p,
    .footer-cart.cart-confirm-button.disabled .cart-icon i,
    .footer-cart.cart-confirm-button.disabled .cart-icon span {
        color: var(--color-grey-999);
    }
    .footer-cart.cart-confirm-button.disabled .cart-icon span {
        background-color: var(--color-grey-999);
    }
    .footer-cart.cart-confirm-button.disabled .cart-icon span {
        color: var(--color-grey-DDD);
    }
}